.productCard {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  cursor: pointer;
}
.image {
  min-width: 300px;
  max-width: 360px;
  height: 185px;
  box-shadow: 2px 2px 5px rgb(165, 165, 165);
}
.title {
  position: absolute;
  top: 40px;
  left: 40px;
  width: min-content;
  text-align: left;
  font-size: 1.6rem;
  font-weight: 600;
}
.number {
  position: absolute;
  bottom: 40px;
  left: 40px;
  border-radius: 50px;
  padding: 5px 10px;
  border: 1px solid black;
}
